{% extends 'base.html.twig' %}
{% block title %}Hello RecipeController!{% endblock %}
{% block body %}

<h1>Creation recette</h1>

    
{% endblock %}

{% block javascripts %}
{# On récupère jquery de base.html.twig #}
    {{ parent() }}
    <script>
        $("#add_category").click(function(){
            let proto = $("#recipe_categories").data("prototype")
            //Permet d'ajouter a la suite
            $("#recipe_categories").append(proto)

        }) 
    </script>
{% endblock %}