
{{ form_start(form) }}
    <div class="searchSection">
        <div>
             {{ form_widget(form.q) }}
            <button type="submit" class="submitSearch">Rechercher</button>
        </div>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories Recette
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <p class="dropdown-item">{{ form_widget(form.categoriesRecipe) }}</p>
            </div>
        </div>
    </div>
{{ form_end(form) }} 
