{{ form_start(form) }}
    <div class="filter">
        
        <div>
        {{ form_row(form.q) }}
            <h4>Categories Recette:</h4>
            <div class="filter-categorie" style="flex">
                <p class="balises">{{ form_row(form.categoriesRecipe) }}</p>
            </div>
        </div>
        <button type="submit" class="">Rechercher</button>
    </div> 

{{ form_end(form) }} 
