{{ form_start(form) }}
    {{ form_row(form.q) }}
    
    <h4>Categories Recette</h4>
    {{ form_row(form.categoriesRecipe) }}

    <button type="submit" class="">Rechercher</button>
{{ form_end(form) }} 
