@media (min-width: 450px){
    .container {
      padding: 0;
    }
  }
/* Présentation des recettes */
/* Header */
@media (max-width: 740px){
    .header{
        padding: 3em;
    }
}
@media (max-width: 630px){
    .header{
        padding: 1em;
    }
    .link_header a{
        display: block;
    }
}
@media (max-width: 550px){
    .link_header a{
        padding: 6px;
    }
}
@media (max-width: 536px){
    .link_header a{
        padding: 3px;
    }
}
@media (max-width: 415px){
    .link_header{
        display: block;
    }
    .link_header a{
        margin: 0;
    }
    .s-link{
        padding-top: 1em;
    }
}
/* cards */
@media (min-width: 576px){
    .col-sm-2 {
      flex: none;
      max-width:none;
    }
  }
@media (max-width: 1350px){
    .body-recipes {
        flex-direction: column;
    align-items: center;
    }
}
@media (max-width: 920px){
    .AboutIdeesCuisine{
        padding-top: 1em;
    }
    .section_fin {
       flex-direction: column;
       align-items: center;
       padding: 0;
       text-align: center;
    }
    .AboutIdeesCuisine{
        width: 100%;
    }
    .dontForget{
        width: 100%;
    }
    .share_links{
        width: 100%;
    }
}
@media (max-width: 380px){
    .section_fin{
        padding: 0;
    }
}
/* SUBSCRIPTIONS/SUBSCRIBERS */
@media (max-width: 485px){
    .body-subs{
        justify-content: center;
    }
}
@media (max-width: 450px){
    .ligne{
        padding-left: 1em;
    }
}
/* PROFIL */

@media (max-width: 995px){
    .biblioUser{
    flex-direction: column; 
    align-content: center;
    }
}
@media (max-width: 920px){
    .line_fin{
        display: none;
    }
}
@media (max-width: 770px){
    .profil-info{
    display: block;
    }
}
@media (max-width: 652px){
    .top-profil{
    flex-direction: column;
    align-items: center;
    }
    
    .card-pi{
        text-align: center;
        padding: 0;
    }
    .card-pp{
        margin: 0;
    }
    .profil-info h1{
        width: auto;
    }
}
@media (max-width: 465px){
    .profil-buttons{
    display: block;
    text-align: center;
    }   
    .profil-buttons-edit{
        padding-top: 1em;
    }
    .profil-buttons-edit-mp{
        padding-top: 1em;
    }
    
}
/* DETAILS RECETTE */
@media (max-width: 1250px){
    .recipe-details{
        width: 90%;
    }
}
@media (max-width: 990px){
    .top-card{
        margin-right: 20%;
        margin-left: 20%;
    }
}
@media (max-width: 600px){
    .top-card{
       position: initial;
       margin: 0;
    }
    .recipe-desc{
        padding-top: 3em;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .body-recipe{
        text-align: center;
        display: block;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3em;
    }
    .instructions{
        padding-top: 2em;
        padding: 0.5em;
    }
    .card-body{
        padding: 0;
    }
}
/* ADMIN INTERFACE */
@media (max-width: 400px){
    .body-dash{
        flex: none;
    }
    .body-users-index{
        flex: none;
    }
}