
*{
  box-sizing: border-box;
}
.wrapper{
  max-width: 1280px;
  margin: auto;
}

.textCentre{
  margin: 0 auto;
  text-align: center;
}
img{
  width: 100%;
	height: 100%;
  object-fit: cover;
}
body{
  /* width: fit-content; */
  padding: auto;
}


/* PRESENTATION DES RECETTES */
/* Header */

.header{
  height: fit-content;
  padding: 5em; 
  background-image: url("/uploads/header/alimentation-saine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: large;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px black;
}
.title-header{
  font-weight: bold;
}
.link_header{
  display: flex;
  justify-content: center;
}
.link_header a{
  color: white;
  text-decoration: none;
  padding: 0.5em;
}
.link_header a:hover{
  color: black;
  text-shadow: none;
}
.bouton-banner-top-f{
  border-radius: 10px;
  margin-right: 1em;
  background-color: rgba(228, 157, 26, 0.76);
}
.bouton-banner-top-s{
  border-radius: 10px;
  margin-left: 1em;
  background-color: rgba(228, 157, 26, 0.76);
}
/* Recettes */

.author{
  border-bottom: solid 1px rgba(105, 99, 99, 0.486);
  padding-bottom: 4px;
}
.dropdown-menu{
  padding: 1em;
}
.row{
  display: flex;
}
.searchSection{
  padding-top: 2em;
  padding-left: 2em;
  display: flex;
}

.body-recipes{
  justify-content: center;
  display: flex;
}
.card-deck{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
  min-width: 370px;
  max-width: 370px;
  margin-top: 2em;

}
.card-text-desc{
  text-overflow: ellipsis;
  max-height: 15em;
  width: 100%;
  overflow: hidden;
}
.card img{
  padding: 1em;
  max-height: 20em;
  height: 15em;
  padding-bottom: 0;
}
.row{
  padding-left: 1em;
  margin-right: 2em;

}
.main{
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-bottom: 5em;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}


/* Dropdown Bouton hover */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/*
      DETAILS RECETTE 
*/

 /* RECETTE */
 .recipe-head{
  display: flex;
  justify-content: center;
  width: auto;
 }
 .top-card{
 
  position: relative;
  top: -70px;
  text-align: center;
  background: white;
  object-fit: contain;
  margin-right: 30%;
  margin-left: 30%;
  border-radius: 10px;
  border: solid 2px rgba(105, 99, 99, 0.486);
  padding-bottom: 2em;
 }
 .top-card h4{
    padding-top: 2em;
 }
 .recipe-details{
  display: inline-flex;
  width: 80%;
 }
.img-recipe{
  width: 100%;
}
.img-recipe img{
    max-width: 100%;
    height: 20em;
    border-radius: 10px;
    border: solid 3px rgba(105, 99, 99, 0.486);
}
.text-left{
  display: contents;
}
.recipe-desc{
  padding-left: 6em;
  padding-right: 7em;
}
.body-recipe{
  display: flex;
  padding-left: 7em;
  padding-right: 7em;
  padding-bottom: 10em;
}
.instructions{
  padding-left: 1em;
}
.instructions p{
  word-break: break-all;
}
.post{
  padding-top: 1em;
}
.composition{
  background-color: antiquewhite;
  border: solid 1px rgba(105, 99, 99, 0.486);
  border-radius: 10px;
  height: fit-content;
  padding: 1em;
}
/* 
************************************************************
*/

/* COMMENTS */
.media img{
  width:64px; 
  height:64px;
  border-radius: 50%;
}
.media{
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  border: solid 1px;
}
blockquote{
  margin: 0;
  }

/* FORMULAIRES */
.col-form-label {
  flex: none;
  max-width: none;
}


/* PROFIL */
.profil-picture{
  border: solid 4px;
  border-color: rgba(0, 0, 0, 0.527);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.profil-picture img{
 width: 100%;
 height: 100%;
}
.user-heading{
  margin: 2em;
}
.top-profil{
  display: flex;
  margin: 1em;
}
.card-pp{
  margin-left: 3em;
}
.card-pi{
  padding-left: 2em;
}
.profil-info{
  display: flex;
}
.profil-pi p{
  margin-top: 1em;
}
.profil-info p{
  padding: 1.5em;
}
.profil-info h1{
  padding: 5px;
  padding-top: 2px;

  width: fit-content;

}
.profil-stats{
  display: flex;
  margin-top: 2em;
}
.stat-abonnements a{
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnements p{
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnes p{
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnements h5 a:hover{
  color: rgb(228, 157, 26);
}
.stat-abonnes h5 a:hover{
  color: rgb(228, 157, 26);
}
.stat-abonnes a{
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnes{
  margin-left: 1em;
}
.stat-abonnes p{
  font-size: 20px;
}
.stat-abonnements p{
  font-size: 20px;
}
.profil-buttons{
  font-size: 20px;
  margin-top: 4em;
  display: flex;
  justify-content: space-evenly;
}
.profil-created{
  font-size: 20px;
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4em;
}
.profil-created a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);  
}
.profil-buttons-supp a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.profil-buttons-edit a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.profil-buttons-edit-mp a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.biblioUser{
  margin-top: 5em;
  display: flex;
}
.icon_add3:hover{
  color: rgb(228, 157, 26);
}
.icon_add2:hover{
  color: rgb(228, 157, 26);
}
.icon_add1:hover{
  color: rgb(228, 157, 26);
}
.icon_add4:hover{
  color: rgb(228, 157, 26);
}
.icon_add5:hover{
  color: rgb(228, 157, 26);
}

/* 
********************
*/
/* SUBSCRIPTIONS*/
.nav-subs{
  display: flex;
}
.nav-subs-bis{
  display: flex;
}
.nav-subs a{
  text-decoration: none;
  padding-left: 2em;
  color: rgba(105, 99, 99, 0.486);
}
.nav-subs-bis a{
  text-decoration: none;
  padding-right: 2em;  
  color: rgba(105, 99, 99, 0.486);
}
.nav-subs-bis a:hover{
  color: rgb(228, 157, 26);
}
.nav-subs a:hover{
  color: rgb(228, 157, 26);
}
.nav-subs-bis p{
  color: rgb(228, 157, 26);
}
.nav-subs p{
  color: rgb(228, 157, 26);
}
.head-subs{
  padding: 1em;
  display: flex;
  padding-bottom: 3em;
}
.user-profil-picture{

  height: 100px;
  width: 100px;
}
.user-profil-picture img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.user-profil{
  padding-top: 2em;
  margin-left: 3em;
}
.ligne{
  padding-left: 10em;
  padding-right: 10em;
  border-bottom: solid 2px;
  border-color:rgba(105, 99, 99, 0.486);
}
.ligne p{
  font-size: 20px;
  font-weight: bold;
}
.ligne a{
  font-size: 20px;
  font-weight: bold;
}
.body-subs{
  padding-top: 3em;
  display: flex;
  flex-wrap: wrap;
}
.card-subs{
  margin: 2em;
}
.card-subs-img{
  width: 25%;
  width: 170px;
  height: 170px;
}
.card-subs-img img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.card-subs-name{
  padding-top: 1em;
  text-align: center;
}
.card-subs-follow{
  text-align: center;
  padding-top: 1em;
}
.card-subs-follow a{
  text-decoration: none;
}
.card-subs-follow a:hover{
  border: solid 1px;
  margin: 5px;
}

/* Biblio */

.biblio-cards{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.title{
  text-align: center;
  padding: 1em;
}

/* FOOTER */

.section_fin{
  background-color: #f1f1f1;
  justify-content: space-evenly;
  padding: 3em 8em; 
  display: flex;
  border-top: solid 1px;
}
.AboutIdeesCuisine{
  width: 33%;
}
.line_fin{
  background-color:  rgb(228, 157, 26);
  border: 1px  rgb(228, 157, 26) solid;
  border-radius: 10%;     
  width: 35px;
  margin: 0;
}

footer{
  border-top: solid 1px;
  background-color: #f1f1f1;
  text-align: center; 
}


/* Admin Utilisateurs index */
.body-users-index{
  display: flex;
  justify-content: center;
}
/* DashBoard */
.body-dash{
  display: flex;
  justify-content: center;
}
.col1{
  padding-right: 1rem;
}
.col2{
  padding-left: 1em;
}
.row{
  padding-bottom: 3em;
}