/* FORMULAIRES */

@media (min-width: 576px){
    .col-sm-2 {
      flex: none;
      max-width:none;
    }
  }
@media (max-width: 1350px){
.body-recipes {
    flex-direction: column;
  align-items: center;
}
}
@media (max-width: 920px){
    .section_fin {
       flex-direction: column;
       align-items: center;
       padding: 0;
    }
    .AboutIdeesCuisine{
        width: 100%;
    }
    .dontForget{
        width: 100%;
    }
    .share_links{
        width: 100%;
    }
}
@media (max-width: 380px){
    .section_fin{
        padding: 0;
    }
}