
*{
  box-sizing: border-box;
}
.wrapper{
  max-width: 1280px;
  margin: auto;
}

.textCentre{
  margin: 0 auto;
  text-align: center;
}
img{
  width: 100%;
	height: 100%;
  object-fit: cover;
}
body{
  padding: auto;
}
/* PRESENTATION DES RECETTES */
.dropdown-menu{
  padding: 1em;
}
.row{
  display: flex;
}
.searchSection{
  padding-left: 2em;
  display: flex;
}

.body-recipes{
  display: flex;
}
.card-deck{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
  min-width: 370px;
  max-width: 370px;
  margin-top: 2em;

}
.card-text-desc{
  text-overflow: ellipsis;
  max-height: 15em;
  width: 100%;
  overflow: hidden;
}
.card img{
  padding: 1em;
  max-height: 20em;
  height: 15em;
}
.row{
  padding-left: 1em;
  margin-right: 2em;

}
.main{
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-bottom: 5em;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}


/* Dropdown Bouton */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}




/*
      DETAILS RECETTE 
*/

 /* RECETTE */
 .card-recipe{
  margin-top: 2em;
}
.card-recipe img{
  height: 20em;
  margin: 0;
}
.top-card{
  margin:1em; 
  max-width: 75%;
}
.composition{
  width:25%
}
.img-fluid{
  margin:1em;
  min-width: 25%;
}
.instructions{
  padding-left:5em; 
  padding: 3em;
}
.body-recipe{
  display:flex;
}


/* 
************************************************************
*/

/* COMMENTS */
.media img{
  width:64px; 
  height:64px;
  border-radius: 50%;
}
.media{
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  border: solid 1px;
}
blockquote{
  margin: 0;
  }

/* FORMULAIRES */
.col-form-label {
  flex: none;
  max-width: none;
}


/* PROFIL */
.profil-picture{
  border: solid 4px;
  border-color: rgba(0, 0, 0, 0.527);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.profil-picture img{
 width: 100%;
 height: 100%;
}
.user-heading{
  margin: 2em;
}
.top-profil{
  display: flex;
  margin: 1em;
}
.card-pp{
  margin-left: 3em;
}
.card-pi{
  padding-left: 2em;
}
.profil-info{
  display: flex;
}
.profil-pi p{
  margin-top: 1em;
}
.profil-info p{
  padding: 1.5em;
}
.profil-info h1{
  padding: 5px;
  padding-top: 2px;

  width: fit-content;

}
.profil-stats{
  display: flex;
  margin-top: 2em;
}
.stat-abonnements a{
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnements p{
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnes p{
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnements h5 a:hover{
  color: rgb(228, 157, 26);
}
.stat-abonnes h5 a:hover{
  color: rgb(228, 157, 26);
}
.stat-abonnes a{
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnes{
  margin-left: 1em;
}
.stat-abonnes p{
  font-size: 20px;
}
.stat-abonnements p{
  font-size: 20px;
}
.profil-buttons{
  font-size: 20px;
  margin-top: 4em;
  display: flex;
  justify-content: space-evenly;
}
.profil-buttons-supp a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.profil-buttons-edit a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.profil-buttons-edit-mp a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.biblioUser{
  margin-top: 5em;
  display: flex;
}


/* 
********************
*/
/* SUBSCRIPTIONS*/
.nav-subs{
  display: flex;
}
.nav-subs-bis{
  display: flex;
}
.nav-subs a{
  text-decoration: none;
  padding-left: 2em;
  color: rgba(105, 99, 99, 0.486);
}
.nav-subs-bis a{
  text-decoration: none;
  padding-right: 2em;  
  color: rgba(105, 99, 99, 0.486);
}
.nav-subs-bis a:hover{
  color: rgb(228, 157, 26);
}
.nav-subs a:hover{
  color: rgb(228, 157, 26);
}
.nav-subs-bis p{
  color: rgb(228, 157, 26);
}
.nav-subs p{
  color: rgb(228, 157, 26);
}
.head-subs{
  padding: 1em;
  display: flex;
  padding-bottom: 3em;
}
.user-profil-picture{

  height: 100px;
  width: 100px;
}
.user-profil-picture img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.user-profil{
  padding-top: 2em;
  margin-left: 3em;
}
.ligne{
  padding-left: 10em;
  padding-right: 10em;
  border-bottom: solid 2px;
  border-color:rgba(105, 99, 99, 0.486);
}
.ligne p{
  font-size: 20px;
  font-weight: bold;
}
.ligne a{
  font-size: 20px;
  font-weight: bold;
}
.body-subs{
  padding-top: 3em;
  /* display: flex; */
  /* display : grid;
  grid-template-columns : repeat(6,1fr);
  grid-gap: 5px
  align-content: center; */
  display: flex;
  flex-wrap: wrap;
  /* margin: 2em; */
}
.card-subs{
  margin: 2em;
}
.card-subs-img{
  width: 25%;
  width: 170px;
  height: 170px;
}
.card-subs-img img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.card-subs-name{
  padding-top: 1em;
  text-align: center;
}
.card-subs-follow{
  text-align: center;
  padding-top: 1em;
}
.card-subs-follow a{
  text-decoration: none;
}
.card-subs-follow a:hover{
  border: solid 1px;
  margin: 5px;
}


/* FOOTER */

.section_fin{
  background-color: #f1f1f1;
  justify-content: space-evenly;
  padding: 3em 8em; 
  display: flex;
  border-top: solid 1px;
}
.AboutIdeesCuisine{
  width: 33%;
}
.line_fin{
  background-color:  rgb(228, 157, 26);
  border: 1px  rgb(228, 157, 26) solid;
  border-radius: 10%;     
  width: 35px;
  margin: 0;
}

footer{
  border-top: solid 1px;
  background-color: #f1f1f1;
  text-align: center; 
}