

*{
  box-sizing: border-box;
}
.wrapper{
  max-width: 1280px;
  margin: auto;
}

.textCentre{
  margin: 0 auto;
  text-align: center;
}


.body{
  display : grid;
  grid-template-columns : repeat(4,1fr);
  grid-gap: 20px
}
.body-recipes{
  display: flex;
  padding-top: 3em;
}
.card-deck{
    /* margin: 1em; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  
  }
.card{
  min-width: 370px;
  max-width: 370px;
  margin-top: 2em;
  /* margin: 1em; */
}

.card img{
  padding: 1em;
  max-height: 20em;
  height: 15em;
}
.row{
  padding-left: 1em;
  margin-right: 2em;

}
.mainhome{
  display: flex;
}

/*
      DETAILS RECETTE 
*/

 /* RECETTE */
 .card-recipe{
  margin-top: 2em;
}
.card-recipe img{
  height: 20em;
  margin: 0;
}
.top-card{
  margin:1em; 
  max-width: 75%;
}
.composition{
  width:25%
}
.img-recipe{
  display:inline-flex;
}
.img-fluid{
  margin:1em;
  min-width: 25%;
}
.instructions{
  padding-left:5em; 
  padding: 3em;
}
.body-recipe{
  display:flex;
}


/* 
************************************************************
*/

/* COMMENTS */
.media img{
  width:64px; 
  height:64px;
}
.media{
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  border: solid 1px;
}
blockquote{
  margin: 0;
  }

/* FORMULAIRES */
.col-form-label {
  flex: none;
  max-width: none;
}
@media (min-width: 576px){
  .col-sm-2 {
    flex: none;
    max-width: none;
  }
}


/* PROFIL */
.profil-picture{
  border: solid 4px;
  border-color: rgba(0, 0, 0, 0.527);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.profil-picture img{
 width: 100%;
 height: 100%;
}
.user-heading{
  margin: 2em;
}
.top-profil{
  display: flex;
  margin: 1em;
}
.card-pp{
  margin-left: 3em;
}
.profil-info{
  display: flex;
}
.profil-pi p{
  margin-top: 1em;
}
.profil-info p{
  padding: 1.5em;
}
.profil-info h1{
  padding: 5px;
  padding-top: 2px;
  border: solid 3px;
  width: fit-content;
  border-color: rgba(80, 77, 77, 0.486);
}
.profil-stats{
  display: flex;
  margin-top: 2em;
}
.stat-abonnements a{
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnements p{
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnes p{
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnements h5 a:hover{
  color: rgb(228, 157, 26);
}
.stat-abonnes h5 a:hover{
  color: rgb(228, 157, 26);
}
.stat-abonnes a{
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.stat-abonnes{
  margin-left: 1em;
}
.stat-abonnes p{
  font-size: 20px;
}
.stat-abonnements p{
  font-size: 20px;
}
.profil-buttons{
  font-size: 20px;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}
.profil-buttons-supp a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.profil-buttons-edit a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.profil-buttons-edit-mp a{
  border-bottom: solid 2px;
  text-decoration: none;
  color: rgba(105, 99, 99, 0.486);
}
.biblioRecipes{
  margin-top: 5em;
}


/* 
********************
*/
/* SUBSCRIPTIONS*/
.nav-subs{
  display: flex;
}
.nav-subs-bis{
  display: flex;
}
.nav-subs a{
  text-decoration: none;
  padding-left: 2em;
  color: black;
}
.nav-subs-bis a{
  text-decoration: none;
  padding-right: 2em;  
  color: black;
}
.nav-subs-bis a:hover{
  color: rgb(228, 157, 26);
}
.nav-subs a:hover{
  color: rgb(228, 157, 26);
}
.nav-subs-bis p{
  color: rgb(228, 157, 26);
}
.nav-subs p{
  color: rgb(228, 157, 26);
}
.head-subs{
  padding: 1em;
  display: flex;
  padding-bottom: 3em;
}
.user-profil-picture{

  height: 100px;
  width: 100px;
}
.user-profil-picture img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.user-profil{
  padding-top: 2em;
  margin-left: 3em;
}
.ligne{
  padding-left: 10em;
  padding-right: 10em;
  border-bottom: solid 2px;
  border-color:rgba(105, 99, 99, 0.486);
}
.ligne p{
  font-size: 20px;
  font-weight: bold;
}
.ligne a{
  font-size: 20px;
  font-weight: bold;
}
.body-subs{
  padding-top: 3em;
  /* display: flex; */
  /* display : grid;
  grid-template-columns : repeat(6,1fr);
  grid-gap: 5px
  align-content: center; */
  display: flex;
  flex-wrap: wrap;
  /* margin: 2em; */
}
.card-subs{
  margin: 2em;
}
.card-subs-img{
  width: 25%;
  width: 170px;
  height: 170px;
}
.card-subs-img img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.card-subs-name{
  padding-top: 1em;
  text-align: center;
}
.card-subs-follow{
  text-align: center;
  padding-top: 1em;
}
.card-subs-follow a{
  text-decoration: none;
}
.card-subs-follow a:hover{
  border: solid 1px;
  margin: 5px;
}