{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div>
    

    <p>Pseudo : {{ user.pseudo }}</p>
     <img src= "{{ asset('public/imguploads/') }}" width="150">


 
</div>


{% endblock %}
