{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div>
    

    <p>Pseudo : {{ user.pseudo }}</p>
    <img src= "{{ asset('uploads/profilpicture/' ~ user.picture) }}" width="150" alt="ProfiPicture">
    <p>{{ user.picture }} </p>
    <a href="{{ path('user_edit', {'id':user.id}) }}">Edit</a>

 
</div>


{% endblock %}
