{% extends 'admin.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
            <th></th>              
        </tr>
    </thead>

    <tbody>
{% for categorie in categories %}
    <tr>
        <td>
            {{ categorie.name }}
        </td>
        <td>
            <a href="{{ path('edit_catRecipe', {'id':categorie.id}) }}">Edit</a>
        </td>
        <td>
            <a class="confirmation" href="{{ path('categoryRecipe_delete', {'id':categorie.id}) }}">Supp</a>
        </td>
        
    </tr>

{% endfor %}
    </tbody>
</table>   
<br>
    <a class= "icon_add" href="{{ path('new_catRecipe') }}"><button type="button" class="btn btn-dark">Ajouter</button></a>
<br><br>
{% endblock %}