{% extends 'base.html.twig' %}
{% block title %}Hello !{% endblock %}
{% block body %}

<h1>Ajout ingredient</h1>


    {{ form(formIngredient) }}
    
{% endblock %}
{% block javascripts %}
{% endblock %}