{% extends 'admin.html.twig' %}
{% block title %}Hello !{% endblock %}
{% block body %}

<h1>Ajouter categorie de d'ingredient</h1>


    {{ form(formCatIngredient) }}
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}